@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transparent: rgba(194, 189, 189, 0.24);
  --darker: rgba(0, 0, 0, 0.575);

  --fs-200: 1.18rem;
  --fs-400: 1.3rem;

  --fw-600: 600;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image{
  background: linear-gradient(rgba(128, 128, 128, 0.884), rgba(0, 0, 0, 0.808)),
  url(./assets/maker.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.top-section {
  height: 90.5vh;
  position: relative;
  background: linear-gradient(rgba(128, 128, 128, 0.884), rgba(0, 0, 0, 0.808)),
    url(./assets/maker.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0.4rem 4%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(255, 255, 255, 0.897);
}

.logo-section {
  font-weight: var(--fw-600);
  font-size: var(--fs-400);
  color: rgba(255, 255, 255, 0.897);
}

.links li {
  display: inline-block;
  list-style: none;
  padding: 0.9rem 0.8rem;
}

.links li a::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: rgba(172, 255, 47, 0.678);
  position: absolute;
  top: 24px;
  left: 10%;
  transition: all ease-in-out 0.2s;
}

.links li a:hover::before {
  width: 80%;
}

.links li a {
  text-decoration: none;
  position: relative;
  width: 0;
  right: 0;
  padding: 0 0.2rem;
  /* color: white; */
}

.menu {
  color: #fff;
  font-size: 2rem;
  display: none;
}

.admin-cta,
.cta-btn,
.join-cta,
.new-btn {
  outline: none;
  padding: 0.2rem 0.6rem;
  border-radius: 20px;
  transition: all ease-in 0.2s;
  border: 2px solid rgb(172, 255, 47);
}

.cta-btn {
  background: rgb(172, 255, 47);
  color: black;
}

.admin-cta{
  background: none;
}

.join-cta {
  background: none;
  color: white;
}

.admin-cta{
  display: flex;
}

.new-btn{
  background: none;
  color: black;
}

.join-cta a,
.cta-btn a {
  text-decoration: none;
}


.cta-btn:hover {
  border: 2px solid rgb(172, 255, 47);
  background: none;
  color: rgba(255, 255, 255, 0.897);
}

.new-btn:hover{
  color: rgba(255, 255, 255, 0.897);
  background: rgb(172, 255, 47);
}

.join-cta:hover {
  color: black;
  background: rgb(172, 255, 47);
}

.grp-btn {
  display: flex;
}

.margin {
  margin: 4rem 0 1rem 0;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 14rem 0 0;
}

.content {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 2rem auto 0;
  /* height: 2.5rem;
  bottom: -10px;
  width: 1rem;
  border-radius: 20px;
  border: 2px solid white; */
  background-color: none;
}

.slider i {
  /* height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  padding: 0.3rem;
  margin: 0.1rem 0 0.1rem; */
  font-size: 2.6rem;
  color: #fff;
}

.latest-sermon,
.blog-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.in-between {
  height: 80vh;
  width: 100%;
  background-color: hsla(0, 0%, 95%, 0.658);
  flex-direction: column;
  margin: 0 auto;
}

.latest-sermon {
  display: flex;
  margin: 0 auto;
  padding: 0.4rem;
  justify-content: space-evenly;
  width: 100%;
  background-color: hsla(240, 100%, 9%, 0.843);
  color: #fff;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.preacher a {
  text-decoration: none;
  color: rgb(172, 255, 47);
}

.listen a {
  text-decoration: none;
}

.listen a button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.8rem 0.4rem 0.4rem;
  border: 2px solid rgb(172, 255, 47);
  background: none;
  color: #fff;
  outline: none;
}

.listen a button i {
  font-size: 1.75rem;
  color: #fff;
}

.blog {
  margin: 1.5rem auto 0;
  align-items: center;
  justify-content: center;
}

.blog h2 {
  text-align: center;
  margin: 0 0 1.5rem;
  position: relative;
}

.blog h2::before {
  content: "";
  width: 60px;
  height: 3px;
  background-color: rgb(172, 255, 47);
  position: absolute;
  top: 100%;
}

.blog-content {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.blog-1,
.blog-2,
.blog-3 {
  text-align: center;
  line-height: 1.6;
  width: 18.75rem;
  height: 18.75rem;
  margin: 0 1rem;
  color: #fff;
  padding: 9rem 0 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.blog-1 h5,
.blog-2 h5,
.blog-3 h5 {
  font-size: 1.5rem;
}

.blog-1 {
  background: linear-gradient(rgba(128, 128, 128, 0.575), rgba(0, 0, 0, 0.6)),
    url(./assets/bible.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog-2 {
  background: linear-gradient(rgba(128, 128, 128, 0.575), rgba(0, 0, 0, 0.6)),
    url(./assets/children.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog-3 {
  background: linear-gradient(rgba(128, 128, 128, 0.575), rgba(0, 0, 0, 0.6)),
    url(./assets/hope2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.color{
  background-color: hsla(240, 100%, 9%, 0.842);
}

.weekly-wrapper {
  height: 90vh;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-direction: column;
  margin: 0 auto;
}

.top-tier {
  display: flex;
  justify-content: center;
  margin: 0 6rem 2rem;
}

.top-tier-content {
  text-align: center;
  line-height: 1.6;
}

.top-tier-content h2 {
  position: relative;
  margin: 1.5rem 0 1rem;
}

.top-tier-content h2::before {
  content: "";
  width: 180px;
  height: 3px;
  background-color: rgb(172, 255, 47);
  position: absolute;
  top: 100%;
}

.bottom-tier,
.services {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.event {
  width: 21.25rem;
  height: 25rem;
  box-shadow: 6px 6px 5px #aaaaaa;
}

.image {
  width: 100%;
  height: 180px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-content {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  height: 220px;
  padding: 0.6rem 1rem;
}

.event-header {
  text-align: center;
  font-size: 1rem;
  margin: 0 0 0.2rem;
}

.event-content p {
  line-height: 1.6;
  color: hsl(0, 0%, 2%);
  font-size: 0.98rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.time,
.day,
.pastor,
.theme,
.venue{
  font-size: 0.94rem;
  line-height: 1.8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.time,
.day,
.pst{
  color: hsl(0, 0%, 21%);
}

.venue .bxs-location-plus{
  color: hsl(278, 100%, 59%);
  font-size: 1rem;
}

.venue a{
  text-decoration: underline;
}

.mid-section{
  display: flex;
}

.pastor{
  padding: 0 0.5rem 0 0;
}

.theme{
  padding: 0 0 0 0.5rem;
}

.pastor label,
.theme label{
  font-weight: 400;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.place{
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.more {
  display: flex;
  margin: 0.6rem auto 0;
  outline: none;
  padding: 0.4rem 0.8rem;
  background-color: transparent;
  border-radius: 18px;
  transition: all ease-in 0.2s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid hsl(278, 100%, 59%);
}

.event-content a {
  text-decoration: none;
}

.more:hover {
  background: hsl(278, 100%, 59%);
  color: #fff;
}

.change-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  height: 80vh;
  background-color: hsla(240, 100%, 9%, 0.842);
}

.left-side {
  width: 260px;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: auto 0;
}

.left-side span {
  text-transform: uppercase;
  font-size: 0.7rem;
  line-height: 1.6;
}

.large {
  font-size: 2rem;
  margin: 0 0 1.6rem;
  position: relative;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.large::before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: rgb(172, 255, 47);
  position: absolute;
  top: 110%;
}

.left-side p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.change-btn {
  display: flex;
  margin: 2rem 0 0;
  outline: none;
  padding: 0.4rem 0.8rem;
  background-color: rgb(172, 255, 47);
  transition: all ease-in 0.2s;
  border: 2px solid rgb(172, 255, 47);
}

.left-side a {
  text-decoration: none;
}

.right-side {
  width: 700px;
  height: 70%;
  margin: auto 0;
  display: flex;
  padding: 1rem 2rem;
  background-color: #fff;
}

.right-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service {
  height: 79vh;
  padding: 0.4rem 0;
}

.last-div {
  width: 200px;
  margin: 0 1rem;
}

.service h2 {
  text-align: center;
  position: relative;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 1.5rem 0 1rem;
}

.service h2::before {
  content: "";
  width: 200px;
  height: 2px;
  background-color: rgb(172, 255, 47);
  position: absolute;
  top: 110%;
}

.under{
  position: relative;
}

.under::before{
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  top: 80%;
  background-color: rgb(172, 255, 47);
}

/**footer**/
.footer-wrapper {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: hsla(240, 100%, 9%, 0.842);
  width: 100%;
}

.footer {
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 1rem;
}

.col-1,
.col-2,
.col-3 {
  color: white;
}

.col-1 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.social-links {
  display: flex;
  margin: 1rem 0;
}

.facebook i,
.tweeter i,
.instagram i {
  font-size: 1.4rem;
}

.facebook {
  margin: 0.4rem 0.6rem 0 0;
}

.tweeter {
  margin: 0.4rem 0.6rem 0;
}

.instagram {
  margin: 0.4rem 0 0 0.6rem;
}

.top-left {
  display: flex;
  align-items: center;
}

.span {
  margin: 0 0.8rem;
}

.col-2 ul li {
  list-style: none;
  margin: 0.8rem 0;
}

.col-2 ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.col-2 ul li a i {
  margin: 0 0.4rem 0 0;
  font-size: 1.1rem;
}

.sub-content {
  margin: 0.8rem 0;
  line-height: 1.8;
}

.sub-content input {
  padding: 0.5rem;
  width: 100%;
  outline: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.copyright {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
  right: -20px;
}

/* responsiveness in devices*/
/* FOR TABLET VIEW */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .menu {
    display: block;
  }
  .links,
  .cta-btn {
    display: none;
  }
  .content-wrapper {
    padding: 6rem 4rem 0;
  }
  .content {
    line-height: 1.6;
  }
  .blog-1,
  .blog-2,
  .blog-3 {
    line-height: 1.4;
    width: 12.75rem;
    height: 12.75rem;
    margin: 0 0.4rem;
    padding: 4rem 0 0;
  }
  .top-tier-content {
    line-height: 1.4;
  }
  .event {
    width: 16.25rem;
    height: 20rem;
  }
  .event-content p {
    line-height: 1.2;
    color: hsl(0, 0%, 5%);
  }

  .time,
  .day {
    color: hsl(0, 0%, 21%);
    font-size: 0.9rem;
    line-height: 1.6;
  }

  .more {
    margin: 0.4rem auto 0;
    padding: 0.4rem 0.6rem;
  }
}

/* FOR MOBILE POTRAIT VIEW */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}
/* FOR MOBILE LANDSCAPE VIEW */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
}
/* FOR MOBILE PHONES POTRAIT OR LANDSCAPE VIEW */
@media screen and (max-device-width: 640px) {
}
/* FOR IPHONE 4 POTRAIT OR LANDSCAPE VIEW */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
}
/* FOR IPHONE 5 POTRAIT OR LANDSCAPE VIEW */
@media screen and (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
}
/* FOR IPHONE 6 AND 6 PLUS POTRAIT OR LANDSCAPE VIEW */
@media screen and (min-device-height: 667px) and (min-device-width: 375px) {
}
